*{
    background-color: #ffde74;
}

table {
    border: 1px  rgb(7, 5, 5);
    width:900px;
    margin-left: 20%;
}

th {
    background-color: yellow;
    border: 3px solid  black;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


td {
    border-radius: 10px;
    border: 2px  black;
    text-align: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: antiquewhite;

}
h1{
    margin-left: 20%;
    font-family: sans-serif;
    font-size: xx-large;
}